DOING_LIST = "" # the Trello list for Doing.
KEY = "" # the Trello key
TOKEN = "" # the Trello token
TOGGL_HEADER = "Basic " # followed by the base64-encoded authorization string from Toggl's API, which is EMAIL@DOMAIN.TLD:PASSWORD
TOGGL_WORKSPACE = 000000 # the workspace number for Toggl to discover projects in
